@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    padding-top: 10px; /* Space for navbar */
    font-family: "Montserrat", sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f8f9fa;
    height: 130vh;
}   


/* Main Content */
.content {
    margin-top: 130px;
    padding: 0 30px; 
}

.content h1{
    font-size: 2rem;
    font-weight: 650;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 23%;
    text-transform: uppercase;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adds space between the cards */
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s;
}

.card a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

.card:hover {
    transform: scale(1.05); /* Slightly enlarges card on hover */
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 2rem;
    font-weight: bold;
}

.bg-primary {
    background-color: #007bff !important; /* Bootstrap primary color */
}

/* Recent Requests Table */
table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

table th, table td {
    padding: 15px;
    text-align: center;
}

table th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

table td {
    border-top: 1px solid #e9ecef;
    color: #333;
}

/* Button Styling */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
