@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 10px; /* Space for navbar */
    font-family: "Montserrat", sans-serif;
    background-color: #f8f9fa;
    height: 130vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Form Styling */
.student-content {
    margin-top: 8%;
    margin-left: 23%;
    padding: 20px;
}

.student-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

}

.student-header h1 {
    font-size: 2rem;
    font-weight: 650;
    text-transform: uppercase;
}

/* Add some space between the options */
#serviceCategory {
    padding: 10px;
    margin-bottom: 20px;
}

/* Add space between the options in the dropdown */
#serviceCategory option {
    padding: 8px;
}

/* Optional: Add space between each form section for better visual spacing */
.form-section {
    margin-bottom: 20px;
}

.submitbtn {
    padding: 10px 20px;
    background-color: #C4203C;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 550;
    margin-top: -1%;
    margin-bottom: 5%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitbtn:hover {
    background-color: #f12245;
}



@media (max-width: 480px) {
    .student-content {
        margin-top: 25%;
        margin-left: 2%;
    }
    .student-content h1 {
        font-size: 1.5rem;
    }
    .form-section h5 {
        font-size: 1rem;
    }
    .row {
        font-size: 0.9rem;
    }
}